<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Bar Supply Orders</title>
    </head>
    <body>
        <h1>My Bar Supply Orders</h1>
        <h2>Current orders:</h2>
        {% for order in all_orders %}
            <div>
                <p>
                    Customer: <a href="/orders/{{ all_orders.index(order) }}">{{ order.customer_name }}</a>
                </p>
            </div>
        {% endfor %}
    </body>
</html>