<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ all_orders[order_num].customer_name }}</title>
    </head>
    <body>
        <h1>Order details:</h1>
        <h2>{{ all_orders[order_num].customer_name }}, date: {{ all_orders[order_num].order_date }}</h1>
        <p>Product: {{ all_orders[order_num].product }}</p>
        <p>Quantity: {{ all_orders[order_num].quantity }}</p>    
    </body>
</html>